.header {
    padding: 1rem 0;
    font-size: 1.25rem;
}

.title {
    font-weight: bold;
    text-decoration: none;
}

.link {
    color: #3B5998;
    transition: all 0.25s ease-in-out 0s;
    text-decoration: none;
}

.active {
    &:hover {
    color: #E95950;
    }
}


